
button {
  width: 327px;
  height: 58px;
  background-color: #79D0F1;
  border-style: none;
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  &:click {
    opacity: 80%;
  }
}