@import url('_variable.css');

:root {
  font-size: 16px;  
}

html, body {
  height: 100%;
  color: #2c3e50;
  background-color: var(--layout-bg-color);
  scroll-behavior: smooth;
}
body {
  margin: 0 10%;
}

#app {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 18px;
  }
  body {
    margin: 0;
  }
}